[% PROCESS excel/template/utils %]
[% WRAPPER excel/template/workbook %]
    [% WRAPPER excel/template/worksheet name = worksheet_name %]
        [% WRAPPER excel/template/row %]
            [% cell(greeting) %]
            [% cell(location) %]
        [% END %]
    [% END %]
[% END %]